??????????
- ?????? user ???? ??? user a ???????????? ??????????????????? ?????? service provider
-login once , use all the service without prompting for user log in again
-limit user ???????? service provider ???? user a ???????????????????? service 1,2